// you can use any variables/mixins/etc. defined here in any of the components
// do not put actual global styles here
// do that in layouts instead

// colors
$primary: #fb6c30;//#3d3788;
$accent: black;

// font-stacks
$display-stack: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// $display-stack: 'Work Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// $content-stack: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
// $serif-stack: 'Merriweather', Georgia, 'Times New Roman', Times, serif;

// media query mi xins
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-up {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// utils
@mixin flex-center($dir: vh) {
  display: flex;

  @if $dir == h or $dir == vh or $dir == hv {
    justify-content: center;
  }

  @if $dir == v or $dir == vh or $dir == hv {
    align-items: center;
  }
}

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

// dir is either v or h
@mixin child-gap($gap, $dir: h) {
  & > * + * {
    @if $dir == h {
      margin-left: $gap;
      margin-top: 0;
    }
    @if $dir == v {
      margin-top: $gap;
      margin-left: 0;
    }
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin padded-sides($mobile, $tablet-up: $mobile) {
  padding-left: $mobile;
  padding-right: $mobile;

  @include tablet-up {
    padding-left: $tablet-up;
    padding-right: $tablet-up;
  }
}

@mixin page-bg($color) {
  background-color: $color;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}